@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;

}
body{
    font-family: "Azeret Mono", monospace;
}
.top-bar{
    width: 1440px;
    height: 70px;
    /* border: 2px solid red; */
}
.btn-top-bar{
    display: flex;
}
.logo{
    margin-top: 17px;
    margin-left: 150px;
}
.btn{
    width: 168px;
    height: 38px;
    margin-top: 17px;
    margin-left: 900px;
    border-radius: 8px;
    background-color: white;
}
.banner{
    width: 1440px;
    height: 652px;
    /* border: 2px solid red; */
    background-image: url('./assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.banner-section-container{
    margin-top: 26px;
    /* margin-left: 654px; */
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-section-imaget{
    width: 998px;
    height: 136px;
    /* border: 2px solid green; */
    margin-top: 340px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-content {
    text-align: center;
}
.banner-content button{
    width: 208px;
    height: 50px;
    color: rgb(255, 255, 255);
    background-color: rgb(13, 19, 33);
    border-radius: 7px;
    margin-top: 32px;
    /* margin-left: 100px; */
}
.card-section-heading{
    width: 1140px;
    height: 1175px;
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-top: 304px;
    background-color: whitesmoke;
    border-radius: rgba(13, 19, 33, 0.02);
}
.card-content{
    text-align: center;
    margin-top: 150px;
}
.card-content p{
    margin-top: 30px;
}
.card-section{
    width: 850px;
    height: 250px;
    /* border: 2px solid red; */
    /* gap: 100px; */
    margin: 0 auto;
    /* text-align: center; */
    display: flex;
    background-color: white;
    box-shadow: 10px;
}
.card-section-content, .card-section-image{
        margin-top: 29px;

}
.card-section-content p{
    margin-top: 15px;
    margin-left: 12px;
}
.card-section-content button{
    width: 150px;
    height: 38px;
    margin-top: 30px;
    margin-left: 12px;
    background-color: white;
    
}
.card-section-content h2{
    margin-left: 12px;
}
.second-card-section{
    width: 850px;
    height: 250px;
    /* border: 2px solid red; */
    margin: 0 auto;
    /* text-align: center; */
    display: flex;
    background-color: white;
    box-shadow: 10px;
    gap: 40px;
}
.third-section-conten{
    width: 850px;
    height: 250px;
    /* border: 2px solid red; */
    margin: 0 auto;
    /* text-align: center; */
    display: flex;
    background-color: white;
    box-shadow: 10px;
    gap: 40px;
    
}
.third-section-conten, .second-card-section, .card-section{
    margin-top: 50px;
}

.video-player{
    width: 1140px;
    height: 777px;
    border: 2px solid red;
    margin: 0 auto;
    text-align: center;
}
.video-content h2{
    margin-top: 80px;
}
.video-content p{
margin-top: 12px;
}
.inspiration-video{
    margin-top: 65px;
}
.target-section{
    width: 1140px;
    height: 463px;
    margin: 0 auto;
    margin-top: 150px;
    /* border: 2px solid red; */
}
.target-section-content{
    text-align: center;
}
.target-section-content p{
    margin-top: 30px;
}
.skills-container{
    margin-top: 110px;
    display: flex;
    gap: 50px;
}
.skill{
    width: 254px;
    height: 220px;
    margin: 0 auto;
    padding: 40px;
    /* box-shadow: 0px 6px 30px 0px; */
}
#fist{

    background-color: rgba(255, 76, 30, 0.05);
}
#second{
  background-color: rgba(0, 76, 232, 0.05);
}
#third{
    background-color: rgba(255, 223, 0, 0.05);
}
.skill h3{
    margin-top: 15px;
}
.skill p{
    margin-top: 15px;
    margin-bottom: 15px;
}